body{
    display: flex;
    flex-direction: column;
    height: 1500px;
}
.page{
    padding: 20px;
    margin: -10px;
    margin-top: 10px;
}

.header{
    background-color: black;
    margin: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
    li{
        list-style-type: none;
    }
    .links{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
.main{
    background-color: antiquewhite;
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
    .part{
        padding: 20px;
        margin: -20px;
        flex-grow: 1;
    }
        #one{
            margin-top: -20px;
            background-image: url("./images/earth.jpg");
            background-color: #4e6382;
            background-size: cover;
            background-repeat: no-repeat;
            color: rgb(255, 255, 255);
            flex-grow: 20;
            background-attachment: fixed;
        }
            h1{margin: 20px;}
            #one p{margin: 40px;color: #9da5b0;}
            .explore{
                margin-top:10px;
                margin-left: 120px;
                padding: 10px;
                color: #4e6382;
                background-color: beige;
                shape-margin: 20em;
                border-radius: 8px;
            }
        #two{
            background-color: rgb(67, 109, 126);
            flex-grow: 5;
            text-align: center;
        }
            #pt2h{
                margin: 0;
                color: beige;
                text-align:center;
            }
            #pt2l{
                margin: 0;
                color: beige;
                text-align:center;
                padding: 0;
                display: flex;
                justify-content: space-around;
            }
                #pt2l li{
                    width: 100px;
                }
                .listimage{
                    height: auto;
                    width: 100px;
                }
        #three{
            background-color: rgb(138, 127, 255);
        }
        #four{
            background-color: rgb(240, 255, 127);
            margin-bottom: -20px;
        }
.footer{
    background-color: #4e6382  ;
    margin-top: 10px;
    text-align: center;

}